.gameTips {
  @media only screen and (min-width: 751px) and (max-width: 5120px) {
    ::v-deep .el-dialog {
      margin-top: 5vh !important;
      width: 464px;
      height: 90%;
      border-radius: 10px;
      background-color: $colorys1;

      .el-icon-close {
        margin-top: 10px;
        font-size: 20px;
      }
      .el-dialog__header {
        display: none;
      }
      .el-dialog__body {
        width: 100%;
        height: 100%;
        background-color: $colorys2;
        box-sizing: border-box;
        // overflow: auto;
        border-radius: 15px;
        padding: 0;
        // padding: 50px 60px 50px 50px;
        position: relative;
        .table{
          display: flex;
          justify-content: space-around;
          p{
            width: 25%;
          }
        }
        .tr1{
          display: flex;
          justify-content: space-around;
          align-items: center;
          div{
            width: 25%;
            height: 40px;
            line-height: 40px;
          }
          .width1{
            text-indent: 10px;
          }
        }
        .trColor {
          background-color: black;
        }

        .header {
          width: 100%;
          box-sizing: border-box;
          border-radius: 15px 15px 0 0;
          background-color: $colorys1;
          line-height: 60px;
          text-align: left;
          padding: 0px 20px 20px 20px;
          color: white;
          font-size: 18px;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .left{
            display: flex;
            align-items: center;
          }
          .closeIcon {
            color: $colorys3;
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
          }
          .backIcon{
            color: $colorys3;
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
            margin-right: 5px;
          }
        }
        .contentInfo {
          position: absolute;
          width: 100%;
          height: calc(100% - 60px);
          border-radius: 0 0 22px 22px ;
          top: 60px;
          background-color: $colorys2;
          left: 0;
          box-sizing: border-box;
          // padding: 0px 20px;
          overflow: hidden;
          overflow-y: auto;
          .help-list{
              margin: 20px;
            >div {
              background-color: #17181b;
              border-radius: 22px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 56px;
              padding: 0 22px;
              margin-bottom: 8px;
              cursor: pointer;
              color: rgba(153,164,176,.6);
              &:hover {
                color: white;
              }
            }
          }
          .ui-scrollview{
            // box-sizing: border-box;
            color: rgba(153,164,176,.8);
            // height: 100%;
            overflow-y: auto;
            // overscroll-behavior: contain;
            text-align: left;
            padding: 20px;
            // line-height: 20px;
            border-radius: 0px;
            background-color: #1E2024;
            padding: 10px 20px;
          }

          h2 {
              font-weight: 400;
              font-size: 18px;
          }
          p{
            margin:15px 0px;
          }
          .houseEdge{
            margin: 15px 0px;
          }

          .gsmekdv{
            border-radius:22px;
            background-color: #1e2024;
            padding: 15px;
          }
          .c6tnr2{
            padding: 20px;
            border-radius: 22px;
            color:#f5f6f7;
            background-color: rgba(45,48,53,.5);
            border: 1px solid #2d3035;
          }
          .c6tnr2 pre {
              margin: 0;
              padding: 0;
              overflow-x: auto;
              font-family: monospace;
          }
          .gbgzxuf .item .cl-primary {
              color: var(--primary-color);
          }
        }
      }
    }
  }
}
