@import '../base.scss';

@media only screen and (min-width: $pcMinWidth)
{
  .wallet {
    position: relative;
    width: 100%;

    .wallet-topup {

      .wallet-topup-label {
        padding-bottom: 10px;
        font-weight: bold;
      }

      .wallet-topup-form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;

        .wallet-topup-form-label {
          width: 100px;
        }

        .wallet-topup-submit {
          width: 150px;
          height: auto;
          text-align: center;
          color: $scFontColor;
          padding: 10px 15px;
        }
      }
    }

    hr {
      margin: 40px 0px;
    }

    .wallet-transfer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .wallet-transfer-label {
        padding-bottom: 10px;
        font-weight: bold;
      }

      .wallet-transfer-platforms {
        position: relative;
        width: 100%;
        padding-bottom: 100px;

        .platforms {
          margin: 10px 0px 20px 0px;
          display: flex;
          flex-wrap: wrap;
          column-gap: 15px;
          row-gap: 15px;

          .platforms-item-cards {
            width: 190px;
            text-align: center;

            .card-title {
              font-size: 15px;
            }

            .card-value {
              padding-top: 10px;
              font-size: 20px;
              font-weight: bold;
            }
          }
        }

        .wallet-transfer-form {
          position: relative;
          width: 800px;

          .el-form-item {

            .el-radio-group {
              .el-radio {
                margin-right: 0px;
              }
              .el-radio.is-bordered.is-checked {
                border-color: $secondaryColor;
              }

              .el-radio__input.is-checked .el-radio__inner {
                border-color: $secondaryColor;
                background: $secondaryColor;
              }

              .el-radio__input.is-checked+.el-radio__label {
                color: $secondaryColor
              }
            }

            .wallet-transfer-form-select {
              width: 320px;

              .el-select-dropdown__item.selected {
                color: $secondaryColor  !important;
                font-weight: bold;
              }
            }

            .wallet-transfer-form-amount {
              width: 320px;
            }

            .wallet-transfer-form-button {
              width: 100px;
              color: $scFontColor;
              text-align: center;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
