@import '../base.scss';

@media only screen and (min-width: $pcMinWidth) {
  .content-form-label
  {
    text-transform: capitalize;
    font-size: 15px;
    color: $primaryColor;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $primaryColor;
  }

  .content-form-input
  {
    max-height: 300px;
    overflow-y: auto;

    .content-form-input-label
    {
      display: grid;
      grid-template-columns: repeat(3, 2fr) 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 0px;
      font-size: 12px;
      align-items: center;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    .content-form-grid
    {
      .el-form-item__content
      {
        display: grid;
        grid-template-columns: repeat(3, 2fr) 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;

        &:last-child
        {
          align-items: center;
          justify-items: center;
          font-size: 15px;
          cursor: pointer;
        }

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .content-form-add
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

    .content-form-add-button
    {
      padding: 10px 15px;
      font-size: 13px;
      font-weight: bold;
      color: $primaryColor;
      border: 1px solid $primaryColor;
      border-radius: 30px;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
  }
}

