@import '../base.scss';

@media only screen and (min-width: $pcMinWidth){
  .transfer{
    padding-bottom: 20px;

    .transfer-header{
      position: sticky;
      background-color: $secondarybgColor;
      color: $scfontColor;

      .transfer-header-wrap{
        margin: 0 auto;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid $whiteOpacity20;

        .header-transfer{
          display: flex;
          align-items: center;
          column-gap: 10px;

          img{
            width: 20px;
            cursor: pointer;

          }
        }
      }

      .green{
        color: $secondaryColor;
        cursor: pointer;
      }
    }

    .transfer-body{
      width: 1200px;
      margin: 0 auto;
    }

    .transfer-title{
      padding-top: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .transfer-section{
      margin-top: 15px;
      padding: 20px 15px;
      border: 1px solid $blackOpacity20;
      color: $primaryColorOpc50;
      border-radius: 6px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 10px;

      .transfer-item{
        .transfer-item-title{
          font-size: 14px;
          padding-bottom: 5px;
        }

        .transfer-item-amount{
          font-size: 16px;
          font-weight: bold;
          color: $primaryColor;
        }
      }
    }

    .transfer-form{
      margin-top: 15px;
      padding: 20px 15px;
      border: 1px solid $blackOpacity20;
      color: $primaryColorOpc50;
      border-radius: 6px;

      .el-form{
        display: grid;
        row-gap: 25px;

        .transfer-input{
          .input-title{
            font-size: 16px;

            .fa-circle-question{
              margin-left: 2px;
              font-size: 12px;
            }
          }

          .el-select{
            width: 100%;

            .el-input__inner{
              border: none;
              border-bottom: 1px solid $primaryColorOpc50;
              border-radius: 0;
            }
          }

          .el-input{
            .el-input__inner{
              border: none;
              border-bottom: 1px solid $primaryColorOpc20;
              border-radius: 0;
            }
          }

          .el-textarea{
            .el-textarea__inner{
              border-radius: 6px;
            }
          }

          .switch {
            margin-top: 5px;
            position: relative;
            display: inline-block;
            width: 60px;
            height: 30px;

            /* Hide default HTML checkbox */
            input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            /* The slider */
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: 0.4s;
              transition: 0.4s;

              &:before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
              }
            }
            input:checked + .slider {
              background-color: #2196f3;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #2196f3;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }
          }
        }
      }
    }

    .transfer-history{
      margin-top: 15px;

      .transfer-history-title{
        padding-bottom: 10px;
        color: $fontColor;
        font-weight: bold;
      }
    }
  }

  .el-select-dropdown__item.selected{
    color: $secondaryColor !important;
    font-weight: bold;
  }
}
