@import "../base.scss";

@media only screen and (min-width: $pcMinWidth) {
  .withdraw-detail{
    position: relative;
    padding-bottom: 20px;
    .title-section{
      position: sticky;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      background-color: $secondarybgColor;
      color: $scfontColor;
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid $whiteOpacity20;

      .title{
        width: 1200px;
        margin: auto;
        font-weight: bold;
        display: flex;
        align-items: center;
        column-gap: 10px;

        img{
          width: 20px;
          cursor: pointer;
        }
      }

    }

    .withdraw-detail-content{
      width: 1200px;
      margin: 0 auto;
      padding-top: 20px;

      .withdraw-detail-type{
        display: flex;
        align-items: center;
        column-gap: 10px;

        .el-input__inner{
          color: $fontColor;
          border: none;
          border-bottom: 1px solid $primaryColorOpc50;
          border-radius: 0;
          background-color: transparent;
        }
      }
    }

    .withdraw-detail-card-list{
      position: relative;
      padding: 20px 30px 0;

      .swiper-slide{
        width: 320px !important;
      }

      .card-box{
        position: relative;
        cursor: pointer;

        .card-background{
          width: 320px;
        }

        .card-content{
          position: absolute;
          top: 0;
          padding: 16px;
          width: 288px;
          height: 204px;
          display: flex;
          flex-direction: column;
          color: rgba(255, 255, 255, 0.75);

          .card-content-detail{
            margin-top: 50px;
            text-align: center;
            line-height: 2;
            color: $fontColor;

            .card-content-detail-cardnum{
              font-size: 20px;
            }
          }

          .delete-button {
            position: absolute;
            right: 10px;
            bottom: 15px;
            width: 25px;
            height: 25px;
          }

          .selected{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      .swiper-button-prev, .swiper-button-next{
        color: $fontColor;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 44%;
        z-index: 11;
      }

      .swiper-button-prev:after, .swiper-button-next:after{
          font-size: 20px;
      }

      .swiper-button-prev{
          left: -1180px;
      }

      .swiper-button-next{
          left: 1180px;
      }

      .gradient-right{
        position: absolute;
        right: 30px;
        width: 100px;
        height: 240px;
        top: 18px;
        background: linear-gradient(270deg, #17171C 0%, #17171CA7 52%, #17171C00 100%);
        z-index: 10;
        transition: all 0.4s;
      }

      .gradient-left{
        display: none;
        position: absolute;
        left: 30px;
        width: 100px;
        height: 240px;
        top: 18px;
        background: linear-gradient(270deg, #17171C00  0%, #17171CA7 52%, #17171C 100%);
        z-index: 10;
        transition: all 0.4s;
      }
    }

    .detail-section{
      margin-top: 15px;
      padding: 20px 15px;
      border: 1px solid $blackOpacity20;
      color: $primaryColorOpc50;
      border-radius: 6px;

      .detail-input{
        display: grid;
        row-gap: 25px;

        .detail-box{
          .detail-section-title{
            font-size: 16px;
            color: $primaryColorOpc50;
          }

          .el-select{
            width: 100%;
          }

          .el-input__inner{
            font-size: 15px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $primaryColorOpc20;
            border-radius: 0;
            width: 100%;
          }
        }
      }

      .detail-submit{
        padding-top: 50px;
        display: grid;
        grid-template-columns: 200px;

        .submit{
          .button{
            padding: 15px;
            text-align: center;
            border-radius: 6px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .el-select-dropdown__item.selected {
    color: $secondaryColor  !important;
    font-weight: bold;
  }
}
