@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  #AppWeb {
    display:block;
  }

  #AppWap {
    display:none;
  }

  .navigationTobBarWeb {
    display:none;
  }

  .navigation {
    width: 100%;
    height: 6.5vw;
    background-color: #FFF;

    .logo {
        position: absolute;
        width:20vw;
        top:1vw;
        left: 13.8vw;
        cursor:pointer;

        img {
          width:80%;
        }
      }

      .contactRow {
        width:60%;
        margin-top:3vw;
        float:right;
        margin-right: 7vw;

        .contact {
          width:20%;
          float:right;

          img {
            float:left;
            width:80%;
          }

          p {
            width:80%;
            margin:0;
            padding-top:0.3vw;
            padding-left:0.5vw;
            color:white;
            font-weight:bold;
            font-size:1vw;
          }
        }
      }
  }

  .firstBG {
    background: url(../assets/boleapp_new/BG_01.png) no-repeat center top;
    background-size: 100%;
    // height: 56vw;

    .firstBG-row {
      // background: url(../assets/boleapp/BG01.png) no-repeat center top;
      // background-size: 60%;
      height: 88.5vw;
      text-align: center;
      overflow: hidden;
      position: relative;

      .gamephoto {
        margin-top: 23.5vw;

        .banner-place {
          width: 36vw;
          height: 20vw;
          background: url(../assets/boleapp_new/item_01.png) no-repeat 100%/100%;
          margin: 0 auto;

          .banner-image-position {
            position: relative;
            width: 30.4vw;
            top: 1.2vw;
            margin: 0 auto;
            left: 0;
            right: 0;
          }
        }

        .arrow {
          width:100%;
          height:3vw;
          background: url(../assets/boleapp_new/ITEM_02.png) no-repeat center;
          background-size: 2.5vw;

          .swing2 {
            width: 4.8vw;
            position: relative;
            padding:1vw 1.7vw 1.7vw 1.7vw;
            animation: arrowUp 3s infinite;
            -webkit-animation: arrowUp 2s infinite;

            @keyframes arrowUp {
              0% {
                  top:0px;
              }
              50% {
                  top:0.5vw;
              }
              100%{
                  top:0px;
              }
            }
          }
        }

        .imageRow {
          img {
            width: 25vw;
          }
        }
      }
    }
  }

  .secondBG {
    background: url(../assets/boleapp_new/BG_02.png) no-repeat center top;
    background-size: 100%;

    .secondBG-row {
      // background: url(../assets/boleapp/BG05.png) no-repeat center top;
      // background-size: 100%;
      height: 61vw;
      text-align: center;
      position: relative;

      .more-info-position {
        position: absolute;
        width: 14vw;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 1vw;

        img {
          width: 100%;
        }
      }
    }
  }

  .thirdBG {
    background: url(../assets/boleapp_new/BG_03.png) no-repeat center top;
    background-size: 100%;

    .thirdBG-row {
      // background: url(../assets/boleapp/BG06.png) no-repeat center top;
      position: relative;
      height: 55vw;
      text-align: center;
      overflow: hidden;
    }
  }

  .contactBanner {
    width: 100%;
    padding: 1vw 0;
    background-color: #FFF;

    .title {
      text-align: center;
      margin-bottom: 1vw;

      img {
        width: 24vw;
      }
    }

    .content {
      img {
        width: 16vw;
        margin-right: 1vw;
      }
    }
  }
}
