    #Member_Id {
        position:relative;
        background-color:black;
    }

    .el-container {
        padding-top:5.4vw;
        background-color:#F7F7F7;
        width:100%;
        min-height:50vw;
    }

    .el-main {
        padding:0 !important;
        overflow:hidden;
    }