@import '../base.scss';

@media only screen and (max-width: 1200px){
  .chat-ignores{
    position: relative;
    color: $white;
    min-height: 90vh;

    .content{
      padding: 24px 16px;
      background-color: $background;
      height: 40vh;

      .title{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 25px;
      }

      .desc{
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
