@import "../base.scss";

@media only screen and (max-width: 1200px) {
  .crash {
    position: relative;
    color: $white;
    margin-bottom: 20px;

    .mobile-header {
      position: relative;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      padding: 26px 0;
      border-bottom: 1px solid $separator;
      height: 70px;

      i {
        position: absolute;
        left: 20px;
        font-size: 18px;
      }
    }

    .content-right {
      padding: 6vw 5vw;
      background-color: $background;

      .title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 24px;
      }

      .desc-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 24px;
      }

      .desc {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 24px;
        color: $lightGrey;
      }

      .btn {
        background-color: $backgroundThree;
        color: $darkgrey;
        font-size: 12px;
        border-radius: 1vw;
        font-weight: 600;
        padding: 10px;
        border: 1px solid $separator;
        text-align: left;
      }
    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
  .content-right {
    padding: 24px 30px;
  }


}
