@import '../base.scss';

@media only screen and (max-width: 1200px){
  .game-history{
    position: relative;
    color: $white;
    min-height: 90vh;

    .content{
      padding: 24px 16px;
      background-color: $background;
      min-height: 40vh;
      margin-bottom: 50px;

      .title{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 25px;
      }

      .desc{
        text-align: center;
        padding-top: 20px;
      }

      .game-history-list {
        overflow-x: auto;

        table{
          width: 100%;
          margin: 0 auto;
          border-collapse: collapse;
          text-align: center;

          th{
            background-color:  $backgroundThree;
            color: $lightGrey;
            font-size: 12px;
            height: 32px;
            padding: 4px 0 4px 16px;
          }

          td{
            font-size: 12px;
            padding: 24px 0 24px 16px;
            border-bottom: 1px solid rgba(50,59,69,.6);
          }

          td:first-child{
            color: $whiteGrey;
            font-weight: 800;
            // width: 180px;
          }

          .negative {
            color: $red;
          }
          .positive {
            color: $limeGreen;
          }
        }

        .list-pagenation {
          position: inherit;
          width: 100%;
          margin: 0 auto;
          margin-top: 30px;
          text-align: center;
        }
      }
    }
  }
}
