@import '../base.scss';

@media only screen and (max-width: 900px) {
  .rewards {
    position: relative;
    color: $white;
    min-height: 90vh;

    .rewards-section{
      background-color: $background;
      padding-bottom: 20px;
    }

    .mobile-header {
      position: relative;
      text-align: center;
      font-size: 12px;
      border-bottom: 1px solid $separator;
      min-height: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $darkBackground;

      i {
        position: absolute;
        left: 20px;
        font-size: 18px;
      }

      .title {
        font-weight: bold;
        padding-bottom: 5px;
      }

      .desc {
        font-weight: 500;
        color: $lightGrey;
        padding: 0 35px;
      }
    }

    .rewards-promo-container {
      background-color: $backgroundTwo;
      margin: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 16px;
      border-radius: 4px;
      height: 100%;
      overflow: hidden;

      .rewards-promo-title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 16px;
      }

      .rewards-code-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        .text-input {
          flex: 9;
          position: relative;
          background-color: $darkBackground;
          border-radius: 4px;

          input {
            color: $white;
            font-size: 12px;
            height: 48px;
            padding: 22px 20px 8px;
            width: 100%;
            border-radius: 4px;
            background-color: $darkBackground;

            &:focus {
              outline: none;
            }
          }

          label {
            position: absolute;
            pointer-events: none;
            font-size: 12px;
            color: $lightGrey;
            left: 20px;
            top: 15px;
            transition: 0.2s ease all;
          }

          input:focus~label,
          input:not(:placeholder-shown)~label,
          .select-active {
            top: 8px;
            font-size: 10px;
          }
        }

        .el-button {
          flex: 1;
          background-color: $red;
          color: $white;
          font-size: 12px;
          border: transparent;
        }
      }
    }

    .rewards-subcontainer {
      background-color: $backgroundTwo;
      margin: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 4px;
      height: 100%;
      overflow: hidden;

      .rewards-subheader {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        width: 100%;
        border-bottom: 1px solid $separator;

        .rewards-subimage {
          height: 62px;
        }

        .rewards-subtext {
          margin-left: 12px;

          .rewards-subtitle {
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 8px;
          }

          .rewards-subdesc {
            color: $darkgrey;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
    }

    .rewards-deposit-footer {
      width: 100%;
      padding: 16px 10px;
      column-gap: 10px;
      display: grid;
      grid-template-columns: 152px auto;

      .rewards-deposit-countdown {
        font-size: 12px;
        color: $lightGrey;
        font-weight: 600;
        align-self: center;
        white-space: nowrap;
      }

      .rewards-deposit-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $red;
        color: $white;
        border-radius: 4px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        height: 32px;
        width: 100%;
      }
    }

    .rewards-footer{
      width: 100%;

      .rewards-refer-btn {
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $red;
        color: $white;
        border-radius: 4px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        height: 32px;
      }
    }
  }
}

@media only screen and(min-width: 901px) and (max-width: 1200px) {
  .rewards {
    position: relative;
    color: $white;
    min-height: 90vh;

    .rewards-section{
      background-color: $background;
      margin-bottom: 40px;
    }

    .mobile-header {
      position: relative;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid $separator;
      min-height: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $darkBackground;

      i {
        position: absolute;
        left: 20px;
        font-size: 18px;
      }

      .title {
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 5px;
      }

      .desc {
        font-size: 12px;
        font-weight: 500;
        color: $lightGrey;
      }
    }

    .rewards-promo-container {
      background-color: $backgroundTwo;
      margin: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 16px;
      border-radius: 4px;
      height: 100%;
      overflow: hidden;

      .rewards-promo-title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 16px;
      }

      .rewards-code-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        .text-input {
          flex: 9;
          position: relative;
          background-color: $darkBackground;
          border-radius: 4px;

          input {
            color: $white;
            font-size: 12px;
            height: 48px;
            padding: 22px 20px 8px;
            width: 100%;
            border-radius: 4px;
            background-color: $darkBackground;

            &:focus {
              outline: none;
            }
          }

          label {
            position: absolute;
            pointer-events: none;
            font-size: 12px;
            color: $lightGrey;
            left: 20px;
            top: 15px;
            transition: 0.2s ease all;
          }

          input:focus~label,
          input:not(:placeholder-shown)~label,
          .select-active {
            top: 8px;
            font-size: 10px;
          }
        }

        .el-button {
          flex: 1;
          background-color: $red;
          color: $white;
          font-size: 12px;
          border: transparent;
        }
      }
    }

    .rewards-content {
      padding: 32px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;

      .rewards-subcontainer {
        background-color: $backgroundTwo;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 4px;
        min-height: 400px;
        text-align: center;

        .rewards-subheader {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;

          .rewards-subimage {
            height: 100px;
          }

          .rewards-subtext {
            .rewards-subtitle {
              font-size: 16px;
              font-weight: 600;
              padding-bottom: 10px;
              padding: 15px 0;
            }

            .rewards-subdesc {
              color: $darkgrey;
              font-size: 12px;
              font-weight: 400;
              margin: 8px 0 24px;
            }
          }
        }
      }

      .rewards-deposit-footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
        min-height: 80px;

        .rewards-deposit-countdown {
          font-size: 12px;
          color: $lightGrey;
          font-weight: 600;
          align-self: center;
          margin-top: 20px;
        }

        .rewards-deposit-btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: $red;
          color: $white;
          border-radius: 4px;
          text-align: center;
          font-size: 12px;
          font-weight: 600;
          height: 32px;
        }
      }

      .rewards-footer{
        min-height: 80px;

        .rewards-refer-btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: $red;
          color: $white;
          border-radius: 4px;
          text-align: center;
          font-size: 12px;
          font-weight: 600;
          height: 32px;
        }
      }
    }
  }
}
