<script src="//editor.unlayer.com/embed.js"></script>

<section id="hero" class="d-flex align-items-center" style="height: 100px">
  <div class="container"></div>
</section>

<main id="main">
  <section id="registersection" class="about">
    <div class="aos-init aos-animate" data-aos="fade-up">
      <div class="breadcrumb" (click)="goBack()">&lt; Back to project</div>

      <div class="offset-lg-2 col-lg-8">
        <div class="section-header">Email template </div>
      </div>
      <div class="row content justify-content-center" *ngIf="project">
        <div class="col-lg-8">
          <div class="altxs" *ngIf="template">
            <simple-box-edit heading="Template name" [value]="template.name" (edited)="onNameEdited($event)">
            </simple-box-edit>
          </div>
        </div>
        <div class="col-lg-8">
          <div id="editor-container"></div>
        </div>

        <div class="col-lg-8">
          <div class="altxs save text-center">
            <btn-loader title="Save" (clicked)="saveTemplate()" [busy]="savingTemplate" *ngIf="template"></btn-loader>
            <btn-loader class="email-template-archive-btn" title="Archive" (clicked)="openPop(archive)"></btn-loader>
          </div>
        </div>
      </div>
    </div>

  <div id="mediaLibrary" class="modal" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">My Media Library</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeGalleryPop()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <tabset>
            <tab heading="Gallery">
              <p>Choose an image</p>
              <div *ngIf="galleryImage as gallery">
                <div class="images" *ngIf="gallery.length!=0; else noimage">
                  <div class="image" *ngFor="let img of gallery">
                    <div class="imgCover" [attr.data-thisimg]="img.url" > Select</div>
                    <img [src]="img.url" />
                    <button type="button" class="btn btn-light copy" (click)="copied(img.url)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg></button>
                    <button type="button" class="btn btn-light delete" *ngIf="img.canDelete" (click)="opendeletePop(img,delete)"><i class="bi bi-trash"></i></button>
                  </div>
                </div>
                <ng-template #noimage><b>No image found in this project.</b></ng-template>
              </div>
            </tab>
            <tab heading="Upload New Image">
              <div class="uploader">
                <ngx-awesome-uploader [adapter]="imgUploadAdapter"
                (uploadSuccess)="onImageUploaded($event)" [showPreviewContainer]="false" uploadType="multiple">
                </ngx-awesome-uploader>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>

  <ng-template #delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title"
          id="modal-basic-title">
          Delete Image Confirmation
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.close()">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <div class="modal-body">
    <div *ngIf="selectedDeleteImage;else nodeleteimage" >
      <img  class="deleteImg" [src]="selectedDeleteImage.url"/>
      <div>Confirm you want to delete this images?</div>
    </div>
    <ng-template #nodeleteimage><b>Image are unable to delete.</b></ng-template>
  </div>
  <div class="modal-footer">
      <button *ngIf="selectedDeleteImage" type="button"
          class="btn btn-outline-dark"
          (click)="deleteImg()">
          Confirm
      </button>
      <button type="button"
          class="btn btn-outline-dark"
          (click)="modal.close()">
          Cancel
      </button>
  </div>
  </ng-template>

  <ng-template #archive let-modal>
    <div class="modal-header">
      <h4 class="modal-title"
          id="modal-basic-title">
          Archive Confirmation
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)=
              "modal.close()">
          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <div class="modal-body">
      <div>Confirm you want to archive this email template?</div>
  </div>
  <div class="modal-footer">
      <button type="button"
          class="btn btn-outline-dark"
          (click)="archiveEmailTemplate()">
          Confirm
      </button>
      <button type="button"
          class="btn btn-outline-dark"
          (click)="modal.close()">
          Cancel
      </button>
  </div>
  </ng-template>

  </section>
</main>
