/node_modules
/public/hot
/public/storage
/storage/*.key
#/vendor
/.idea
/.vscode
/.project
/.vagrant
/.settings
/.buildpath
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

nbproject
._*
.~lock.*
.DS_Store
*~
*.swp
.svn
dump.rdb
*.backup
*.back
delete.*
.prettierrc