@import '../base.scss';

@media only screen and (min-width: $pcMinWidth) {
  .games {
    position: relative;
    width: 1175px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;

    .games-list-filter {
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .games-list-filter-input {
        width: 450px;

        .el-input__inner {
          text-align: center;
          color: $fontColor;
          font-weight: bold;
          background-color: $darker;
          border: none;
          cursor: pointer;

          &::placeholder {
            color: $lightFontColor;
          }
        }

        .el-input__prefix {
          i {
            font-size: 20px;
          }

        }
      }

      .games-list-filter-selection {

        .games-list-filter-option {
          width: 200px;
          background: transparent;
          color: $fontColor;

          .el-input {
            .el-input__inner {
              background: transparent;
              color: $fontColor;
              border-color: $lightFontColor;

              &:focus {
                border-color: $fontColor;
              }
            }

            &:focus {
              border-color: $fontColor;
            }
          }

          .el-select__tags {
            &:focus {
              border-color: $fontColor
            }

            .el-tag--info {
              background-color: $primaryGreen;
              color: $fontColor;
              border: none;

              i {
                color: $dark;
              }
            }
          }

          .games-list-filter-option-innerOption-right {
            float: right;
            color: $fontColor;
            font-size: 13px;
            background: $primaryGreen;
          }
        }
      }
    }

    .games-list {
      align-self: center;
      display: grid;
      grid-template-columns: repeat(5, 230px);
      grid-column-gap: 10px;
      grid-row-gap: 20px;

      .games-list-card {
        position: relative;
        height: 155px;
        background: $blueGreen;
        border-radius: $borderRadius5;
        display: flex;
        align-items: center;
        justify-content: center;

        .games-list-card-image {
          width: 100%;
          height: 100%
        }

        &:hover {

          .games-list-card-container-middle {
            display: block;
          }
        }

        .games-list-card-image-exist {
          width: 50%;
          height: 50%;
          border-radius: $borderRadius5;
          background-image: url("~@/assets/img/logo.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .games-list-card-container-middle {
          display: none;
          transition: .5s ease;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $blackOpacity75;
          text-align: center;

          .games-list-card-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }

          .text {
            color: $fontColor;
            padding: 12px 50px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;

            &:nth-child(2) {
              margin-top: 10px;
              border: 1px solid $fontColor;
            }
          }

          .login-text {
            padding: 15px 50px;
            color: $fontColor;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            border-radius: 4px;
          }
        }
      }
    }

    .games-list-pagination {
      position: relative;
      width: 1175px;
      margin: 0 auto;
      padding-top: 20px;
      text-align: center;

      .el-pager {
        .active {
          background-color: $primaryGreen  !important;
        }

        .number.active:hover {
          color: $fontColor  !important;
        }

        .number:hover {
          color: $primaryGreen  !important;
        }
      }
    }

    .games-list-noData {
      position: relative;
      height: 500px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .game-list-noData-label {
        margin-top: 20px;
      }
    }
  }

  .el-select-dropdown__item.selected {
    color: $primaryGreen;
  }

  .el-scrollbar {
    margin-bottom: 0px;
  }


}
