@import '../base.scss';

@media only screen and (min-width: $pcMinWidth) {
  .memberList {
    position: relative;
    max-width: 1000px;
    min-height: 650px;
    padding: 30px;
    border-radius: $borderRadius10;
    background-color: $secondaryBgColor;

    .memberList-back {
      font-weight: bold;
      font-size: 18px;

      .el-icon-back {
        padding-right: 10px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
      }
    }

    .memberList-label-bar {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .memberList-filter-input {
        display: flex;
        align-items: center;

        .filter-input-label {
          margin-right: 15px;
        }

        .filter-input {
          width: 150px;
          padding: 10px 0px;
          margin-right: 15px;
          text-align: center;
          color: $fontColor;

          .el-input__inner {
            background-color: transparent;
            border: none;
            color: $fontColor;
            cursor: pointer;

            &:focus {
              border: 1px solid $primaryGreen;
              outline: $primaryGreen;
              border-radius: $borderRadius5;
            }

            &:hover {
              color: $lightGreen  !important;

              &::placeholder {
                color: $lightGreen  !important;
              }
            }
          }
        }

        .filter-input-submit {
          padding: 10px 20px;
          border-radius: $borderRadius3;
          font-weight: bold;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    .memberList-details-table {
      margin-top: 20px;

      .el-table {
        background: transparent;
        color: $fontColor;

        thead {
          color: $fontColor;
        }

        tr,
        tr:hover>td,
        th.el-table__cell {
          background: transparent;
        }

        td {
          border-bottom: none;
        }

        &::before {
          height: 0px;
        }
      }

      .memberList-table-nodata {
        margin-top: 50px;
        color: $fontColor;
        font-weight: bold;
        text-align: center;
      }
    }

    .memberList-details-pagination {
      position: relative;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;

      .el-pager {
        .active {
          background-color: $primaryGreen  !important;
        }

        .number.active:hover {
          color: $fontColor  !important;
        }

        .number:hover {
          color: $primaryGreen  !important;
        }
      }
    }
  }
}
