@import '../base.scss';

@media only screen and (max-width: $mobileMaxWidth) {
  .addAgentPlayer {
    margin-top: -20vw;
    padding-bottom: 5vw;

    .addAgentPlayer-header {
      position: fixed;
      padding: 5.5vw 4vw;
      background: $secondarybgColor;
      color:$scfontColor;
      width: 100vw;
      margin-left: -4vw;
      font-size: 3.5vw;
      font-weight: bold;
      z-index: 10;

      .addAgentPlayer-header-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-item {
          display: flex;
          align-items: center;
          column-gap: 2vw;

          img {
            width: 5vw;
          }
        }

        .green {
          color: $secondaryColor;
        }
      }
    }

    .content {
      padding-top: 20vw;

      .el-tabs__nav-wrap::after {
        background-color: $whiteOpacity20;
      }

      .el-tabs__nav {
        .el-tabs__active-bar {
          height: 0.8vw;
          border-radius: 1.5vw;
          background-color: $secondaryColor;
        }

        .el-tabs__item {
          color: $fontColorOpc50;
        }

        .el-tabs__item.is-active {
          color: $fontColor;
        }
      }

      .content-form {
        margin-top: 3vw;
        padding: 5vw;
        border: 1px solid $blackOpacity20;
        color: $primaryColorOpc50;
        border-radius: 2vw;

        .el-form {
          .form-input {
            padding-bottom: 5vw;

            .input-title {
              font-size: 3vw;
            }

            .el-select {
              width: 100%;
            }

            .el-input__inner {
              color: $primaryColor;
              border: none;
              border-bottom: 1px solid $primaryColorOpc20;
              border-radius: 0;
              padding: 0;
            }

            .el-input-group__prepend {
              width: 20vw;
              background: transparent;
              border: none;

              .form-input-select {
                width: 20vw;
                background: transparent;

                .el-select-dropdown__list {
                  width: 60vw;
                }

                .el-select-dropdown__item.selected {
                  color: $secondaryColor !important;
                  font-weight: bold;
                }
              }
            }

            .el-input-group__append {
              width: 18vw;
              padding: 0;
              color: $primaryColor;
              border: 1px solid $blackOpacity20;
              border: none;

              .el-select {
                margin: 0;
              }
            }

            .el-select__caret {
              color: $primaryColor;
            }
          }

          .el-form-item {
            padding-bottom: 3vw;
            margin-bottom: 0;

            .el-form-item__label {
              font-size: 3vw;
              color: $primaryColorOpc50;
            }

            .el-form-item__content {
              line-height: 10px;

              .el-select {
                display: block;
              }

              .el-input__inner {
                color: $primaryColor;
                border: none;
                border-bottom: 1px solid $primaryColorOpc20;
                border-radius: 0;
                padding: 0;
              }

              .el-input-group__prepend {
                width: 20vw;
                background: transparent;
                border: none;

                .form-input-select {
                  width: 20vw;
                  background: transparent;

                  .el-select-dropdown__list {
                    width: 60vw;
                  }

                  .el-select-dropdown__item.selected {
                    color: $secondaryColor !important;
                    font-weight: bold;
                  }
                }
              }

              .el-input-group__append {
                width: 18vw;
                padding: 0;
                color: $primaryColor;
                border: 1px solid $blackOpacity20;
                border: none;

                .el-select {
                  margin: 0;
                }
              }

              .el-select__caret {
                color: $primaryColor;
              }
            }
          }
        }
      }
    }
  }

  .el-select-dropdown__item.selected {
    color: $secondaryColor !important;
    font-weight: bold;
  }
}
