@import '../base.scss';

@media only screen and (max-width: $mobileMaxWidth)
{
	.index
	{

    .index-player-amount-display
    {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .index-player-icon
      {
        width: 6.5vw;
      }

      .index-player-amount
      {
        padding-left: 2vw;
        font-size: 3.5vw;
        color: $fontColor;
      }
    }

    .index-player-state-cards
    {
      padding-top: 3vw;
      display: flex;
      column-gap: 2vw;

      .index-player-state-card
      {
        padding: 4vw 3vw;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border:1px solid $blackOpacity20;
        border-radius: 2vw;

        .state-card-label
        {
          padding-bottom: 2vw;
          color: $primaryColor;
          font-size: 2.5vw;
          opacity: .5;
        }

        .state-card-value
        {
          color: $primaryColor;
          font-weight: bold;
          font-size: 4.5vw;
        }

        .state-card-amount
        {
          color: $secondaryColor;
          font-weight: bold;
          font-size: 4.5vw;
        }

        .state-card-amount.negative{
          color: $warning;
        }
      }
    }

    .index-player-filter
    {
      padding-top: 5vw;
      display: flex;
      column-gap: 2vw;

      .index-player-filter-button
      {
        padding: 0vw 4.5vw;
        text-align: center;
        font-size: 3vw;
        border-radius: 1vw;
        display: flex;
        align-items: center;
      }

      .index-player-add-button
      {
        position: relative;
        padding: 1vw 2vw;
        border-radius: 2vw;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-left
        {
          width: 6vw;
          margin-right: 2vw;
        }

        span
        {
          font-size: 3.5vw;
        }

        .icon-right
        {
          width: 4vw;
          position: absolute;
          opacity: 0.5;
          right: 2vw;
        }
      }
    }

    .index-player-statistic-list
    {
      position: relative;
      padding-top: 5vw;
      width: 100%;

      .el-tabs__nav-wrap::after
      {
        background-color: $whiteOpacity20;
      }

      .el-tabs__nav
      {

        .el-tabs__active-bar
        {
          height: 0.8vw;
          border-radius: 1.5vw;
          background-color: $secondaryColor;
        }

        .el-tabs__item
        {
          color: $fontColorOpc50;
        }

        .el-tabs__item.is-active
        {
          color: $fontColor;
        }
      }

      .index-player-statistic-total
      {
        margin-bottom: 2vw;
        display: flex;
        justify-content: space-between;

        .total-label
        {
          font-size: 3.5vw;
          flex: 1;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .total-value
        {
          font-size: 3.5vw;
          border-radius: 1vw;
          flex: 1;
          padding: 1.5vw 2vw;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }

        .total-value.totalwins{
          color: $warning;
          font-weight: bold;
        }
        .total-value.totalbets{
          color: $black;
          font-weight: bold;
        }

        .total-value.totalggr{
          color: $green;
          font-weight: bold;

          .negative{
            color: $warning;
          }
        }
      }

      .index-player-statistic-topPlayers-cards
      {

        .topPlayers-card
        {
          padding: 5vw 3vw;
          margin-bottom: 3vw;
          background: $fontColor;
          border-radius: 2vw;
          display: flex;

          .topPlayers-card-content
          {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 2vw;
            justify-content: center;
            align-items: flex-start;

            .card-label
            {
              color: $primaryColorOpc50;
              font-size: 2.5vw;
              font-weight: bold;
            }

            .card-value
            {
              color: $primaryColor;
              font-size: 4vw;
              font-weight: bold;
            }
          }
        }
      }
    }

    .index-chart{
      margin: 4vw 0;
      padding: 2vw;
      border: 1px solid $fontColor;
    }
	}
}
