@import '../base.scss';

@media only screen and (min-width: $pcMinWidth) {
  .post {
    position: relative;
    cursor: pointer;

    .post-container {
      position: relative;

      .post-img-container {
        position: relative;

        img {
          width: 100%;
        }
      }

      .post-content {
        padding-top: 20px;
        color: $fontColor;

        .post-type {
          display: none;
          padding-bottom: 5px;
          color: $secondaryFontColor;
          font-size: 14px;
        }

        .post-title {
          font-family: $titleFont;
          font-weight: 900;

          img {
            width: 30px;
          }
        }

        .post-description {
          display: -webkit-box;
          margin: 15px 0;
          font-size: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .post-date {
          color: $secondaryFontColor;
          font-size: 13px;

        }
      }
    }

    .post-big {
      display: flex;

      .post-content {
        padding: 0 20px;

        .post-title {
          font-size: 44px;
        }
      }
    }

    .post-middle {

      .post-title {
        font-size: 30px;
      }
    }

    .post-small {
      .post-content {

        .post-title {
          font-size: 26px;
        }

        .post-description {
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}
