<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640891885977-6578ehad4tmuelhh61713estk431v00d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640891885977-6578ehad4tmuelhh61713estk431v00d</string>
	<key>API_KEY</key>
	<string>AIzaSyCm6MguneiShDHO7_rfj5LaX3WgvVtHUbg</string>
	<key>GCM_SENDER_ID</key>
	<string>640891885977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poseidon.bossjobapp</string>
	<key>PROJECT_ID</key>
	<string>bossjob2021-6b1d7</string>
	<key>STORAGE_BUCKET</key>
	<string>bossjob2021-6b1d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640891885977:ios:9356451495e59838eadb08</string>
</dict>
</plist>