// Body
$body-bg: #f5f8fa;
$body-color: #606266;

// Typography
$font-family-sans-serif: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

// Layout
$layout-header-height: 54px;
$layout-aside-width: 160px;
$layout-background-color: #677b93;
$layout-background-color-hover: #788ca7;

// Page
$page-container-padding: 20px;
$page-layout-aside-width: 280px;
$page-layout-header-height: 47px;

// Theme
$theme-font-color: #788da6;
$theme-font-color-aux: #909399;
$theme-font-color-danger: #dc3545;

// Color
$color-primary: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

// Font Color
$font-color-first: #303133;
$font-color-second: #606266;
$font-color-third: #909399;
$font-color-fourth: #C0C4CC;

// Font Size
$font-size-first: 1.25rem;
$font-size-second: 1rem;
$font-size-third: 0.875rem;
$font-size-fourth: 0.75rem;

// Boder Color
$boder-color-first: #DCDFE6;
$boder-color-second: #E4E7ED;
$boder-color-third: #EBEEF5;
$boder-color-fourth: #F2F6FC;
