@import '../base.scss';

@media only screen and (min-width: 1201px) {
  .forgotpwd {

    .forgotpwd-modal-overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(12, 21, 29, 0.78);
      z-index: 9999;
      padding: 15px;
      overflow-y: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .forgotpwd-modal {
        /* todo:animation */
        text-align: left;
        position: relative;
        outline: none;
        border-radius: 4px;
        width: fit-content;
        min-width: 300px;
        min-height: 247px;
        margin-top: 5vh;
        background-color: $background;
        padding: 24px 32px;

        .header {
          position: relative;
          text-align: center;
          padding-bottom: 0;

          .logo {
            height: 39px;
          }

          i {
            position: absolute;
            right: -35px;
            top: -25px;
            overflow: hidden;
            z-index: 1;
            padding: 15px;
            cursor: pointer;
            font-size: 14px;
            color: $lightGrey;
            font-weight: 900;
          }
        }

        .body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .title {
            margin-top: 12px;
            margin-bottom: 24px;
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.6;
            letter-spacing: -.56px;
            text-align: center;
            color: $white;
          }

          .text-input {
            position: relative;
            background-color: $darkBackground;
            width: 100%;
            margin: 10px 0;
            border-radius: 4px;

            input {
              color: $white;
              font-size: 12px;
              padding: 18px 15px 12px;
              width: 100%;
              border-radius: 4px;
              background-color: $darkBackground;

              &:focus {
                outline: none;
              }
            }

            label {
              position: absolute;
              pointer-events: none;
              font-size: 10px;
              font-weight: bold;
              color: $lightGrey;
              left: 15px;
              top: 15px;
              transition: 0.2s ease all;
            }

            i {
              position: absolute;
              font-size: 10px;
              font-weight: bold;
              color: $lightGrey;
              right: 15px;
              top: 20px;
              transition: 0.2s ease all;
              cursor: pointer;
            }

            input:focus~label,
            input:not(:placeholder-shown)~label {
              top: 6px;
              font-size: 8px;
            }
          }

          .submitBtn {
            width: 100%;
            padding: 15px;
            margin: 20px 0px;
            margin-bottom: 10px;
            color: $white;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -.56px;
            border-radius: 4px;
            cursor: pointer;
            background-color: $red;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              transition: background-color .5s ease;
              background-color: $darkRed;
            }
          }

        }

        .footer {
          .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 15px 0px;
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 15px;

            .otherLogin {
              flex-basis: 20%;
              max-width: 100%;
              height: 48px;
              font-size: 12px;
              font-weight: 600;
              text-transform: capitalize;
              border: 1px solid $separator;
              border-radius: 3px;
              background-color: $background;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: background .3s;

              img {
                width: 30%;
              }

              &:hover {
                background-color: $darkBackground;
              }
            }
          }
        }
      }
    }
  }
}
