@import '../base.scss';

@media only screen and (min-width: 1201px){
  .game-history{
    position: relative;
    color: $white;
    min-height: 90vh;

    .content{
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
      padding: 30px;
      background-color: $background;
      border-radius: 4px;
      margin-top: 40px;
      margin-bottom: 40px;
      min-height: 300px;

      .title{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 24px;
      }

      .desc{
        text-align: center;
        padding-top: 20px;
      }

      .game-history-list {
        position: relative;
        table{
          width: 100%;
          margin: 0 auto;
          border-collapse: collapse;
          text-align: center;

          th{
            background-color: $backgroundThree;
            color: $lightGrey;
            font-size: 12px;
            height: 32px;
            padding: 4px 0 4px 16px;
          }

          td{
            font-size: 12px;
            padding: 24px 0 24px 16px;
            border-bottom: 1px solid rgba(50,59,69,.6);
          }

          td:first-child{
            color: $whiteGrey;
            width: 180px;
          }

          .negative {
            color: $red;
          }
          .positive {
            color: $limeGreen;
          }
        }

        .list-pagenation {
          position: inherit;
          width: 100%;
          margin: 0 auto;
          margin-top: 50px;
          text-align: center;
        }
      }
    }
  }
}
