@import '../base.scss';

@media only screen and (min-width: 1201px){
  .referral-forms{
    position: relative;
    color: $white;

    .referral-forms-header{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 10px;

      .referral-forms-header-left{
        display: flex;
        align-items: center;
        column-gap: 10px;
      }

      .choose-date{
        .el-date-editor--daterange.el-input__inner{
          width: 250px;
        }

        .el-date-editor .el-range-input{
          width: 80px;
          font-size: 12px;
          color: $white;
        }

        .el-date-editor .el-range-separator{
          color: $white;
          font-size: 12px;
          width: fit-content;
        }
      }

      .choose-page-size{
        width: 70px;
      }

      // type, date, pagesize
      .el-input__inner{
        font-size: 12px;
        color: $white;
        border: 1px solid $separator;
        background: $darkerGrey;
        border-radius: 4px;
        padding: 0 16px;
      }

      // select
      .el-select .el-input.is-focus .el-input__inner{
        border-color: $separator;
      }
    }

    .referral-forms-content{
      padding-top: 20px;

      .list-content{
        table{
          width: 100%;
          margin: 0 auto;
          border-collapse: collapse;
          text-align: center;

          th{
            background-color:  $backgroundThree;
            color: $lightGrey;
            font-size: 12px;
            height: 32px;
            padding: 4px 0 4px 16px;
          }

          td{
            font-size: 12px;
            padding: 24px 0 24px 16px;
            border-bottom: 1px solid rgba(50,59,69,.6);
          }

          th:first-child, td:first-child{
            width: 30%;
          }

          th:nth-child(2), td:nth-child(2){
            width: 40%;
          }

          th:nth-child(3), td:nth-child(3){
            width: 30%;
          }
        }

        .pagination{
          text-align: center;
          padding-top: 60px;
        }

        .no-content{
          text-align: center;
          padding-top: 30px;
        }
      }
    }
  }

  .el-select-dropdown__item.selected{
    color: $red;
  }

  .el-date-table td.today span{
    color: $red;
  }

  .el-date-table td.available:hover{
    color: $red;
  }

  .el-date-table td.end-date span, .el-date-table td.start-date span{
    background-color: $red;
  }
}
