/* Mobile Styles */
@media only screen and (max-width:430px)
{
    body
    {
        background-color:rgba(245,245,245,1);

        .main
        {
            margin:0 auto;
      
            .particles
            {
                margin-top:-50px;
                position:relative;
                //background-image:url("/static/assets/image/1.jpg");
                background-repeat:no-repeat,repeat;
                background-attachment:fixed;
                background-position:center;
                background-size:cover;
                min-height:100vh;
                background-color:black;
                z-index:1;
      
                .lottie
                {
                    margin:0 auto;
                    margin-left:auto;
                    margin-right:auto;
                    margin-top:20%;
                    position:absolute;
                    left:0;
                    right:0;
                    width:100vw;
                    //height:70%;
                    height:80vh;
                    height:35rem;
                    vertical-align:middle;
                }

                .mouseAnimation
                {
                    cursor:pointer;
                    height:1.625rem;
                    display:none !important;
                }

                .arrowAnimation
                {
                    cursor:pointer;
                    transform:translatey(0px);
                    animation:float 1s ease-in-out infinite;
                    height:1.125rem;
                }
            }
        }

        .aboutUs
        {
            margin:0.8%;
            margin-bottom:0.4%;
            position:relative;
            background-image:url("/static/assets/image/2.jpg");
            background-repeat:no-repeat,repeat;
            background-position:left;
            background-size:cover;
            height:97vh;
            box-shadow:0px 3px 6px rgba(0,0,0,0.4);
      
            .aboutUsDesc
            {
                position:absolute;
                bottom:0%;
                padding:5%;
                vertical-align:bottom;
      
                h1
                {
                    font-weight:bold;
                    position:relative;
                    text-align:left;
                    font-size:6vw;
                    display:table;
                    z-index:1;
                    margin-bottom:2%;
      
                    .ball
                    {
                        position:absolute;
                        top:-115%;
                        right:-18%;
                        height:18vw;
                        z-index:-1;
                    }
                }

                p
                {
                    text-align:left;
                    width:60%;
                    font-size:3vw;
                    line-height:2;
                }
            }
      
            .pattern
            {
                width:100%;
                position:absolute;
                top:2%;
                z-index:1;
      
                .pattern_1
                {
                    position:absolute;
                    top:0%;
                    right:1%;
                    height:40vw;
                    transition-duration:0.1s;
                }
      
                .pattern_2
                {
                    position:absolute;
                    top:0%;
                    right:1%;
                    height:40vw;
                    transition-duration:0.3s;
                }
            }
        }

        .our-team-and-join-us
        {
            display:block;
            background-color:rgba(245, 245, 245, 1);

            .our-team-part
            {
                position:relative;
                width:100%;
                //right:-100%;
                overflow-x:hidden;

                .our-team
                {
                    margin-right:0.2%;
                    //position:relative;
                    position:absolute;
                    top:0;
                    right:0;
                    display:inline-block;
                    background-image:url("/static/assets/image/3.jpg");
                    background-repeat:no-repeat,repeat;
                    background-position:center;
                    background-size:200% 100%;
                    width:100%;
                    height:125vw;
                    border:14px solid rgba(245,245,245,1);    
                    
                    .ViewMore{
                        position:absolute;top:0%;left:0%;margin-top:5%;margin-left:5%;text-align:left;
        
                        span{
                          font-size:3vw;font-weight:bold;
                        }
                        
                        .hand{
                          width:6vw;transform: translatex(0px);
                          animation: floatx 1s ease-in-out infinite;
                        }
                    }

                    :hover
                    {
                        cursor:pointer;
                    }

                    .gradient
                    {
                        background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.65));
                        height:100%;

                        .our-team-main
                        {
                            position:absolute;
                            bottom:5%;
                            padding:5%;
                            z-index:2;

                            

                            .our-team-title
                            {
                                font-size:6vw;
                                font-weight:bold;
                                text-align:left;
                                z-index:1;
                            }

                            .ball
                            {
                                position:absolute;
                                top:0%;
                                left:25%;
                                width:16vw;
                                z-index:-1;
                            }

                            .our-team-description
                            {
                                width:55%;
                                font-size:3vw;
                                text-align:left;
                                line-height:2;
                            }
                        }
                    }
                }

                .our-team-content
                {
                    padding:5%;
                    position:relative;
                    right:100%;
                    display:inline-block;
                    background-color:white;
                    width:100%;
                    height:125vw;
                    color:black;

                    .button-close-1
                    {
                        position:absolute;
                        right:5vw;
                        width:5vw;
                        cursor:pointer;
                    }

                    .our-team-content-description
                    {
                        width:90%;
                        font-size:3vw;
                        text-align:left;
                    }

                    .our-team-content-list
                    {
                        width:100%;
                        height:98vw;
                        overflow:hidden;
                        overflow-y:scroll;
                        text-align:left;

                        .our-team-content-list-member
                        {
                            padding-left:1%;
                            display:flex;
                            align-items:center;

                            .our-team-content-list-member-img
                            {
                                display:inline-block;
                                vertical-align:center;

                                img
                                {
                                    width:10vw;
                                    height:10vw;
                                    border-radius:50%;
                                    box-shadow:0px 3px 6px rgba(0,0,0,0.4);
                                }
                            }

                            .our-team-content-list-member-description
                            {
                                margin-left:2%;
                                display:inline-block;
                                vertical-align:center;

                                .our-team-content-list-member-description-position
                                {
                                    font-size:3vw;
                                    font-weight:bold;
                                }

                                .our-team-content-list-member-description-name
                                {
                                    font-size:3vw;
                                }
                            }
                        }
                    }
                }
            }

            .join-us-part
            {
                position:relative;
                width:100%;
                overflow-x:hidden;

                .join-us
                {
                    margin-right:0.2%;
                    //position:relative;
                    position:absolute;
                    top:0;
                    right:0;
                    display:inline-block;
                    background-image:url("/static/assets/image/4.jpg");
                    background-repeat:no-repeat,repeat;
                    background-position:center;
                    background-size:200% 100%;
                    width:100%;
                    height:125vw;
                    border:14px solid rgba(245,245,245,1);
                    border-top:0;  

                    .ViewMore{
                        position:absolute;top:0%;left:0%;margin-top:5%;margin-left:5%;text-align:left;
        
                        span{
                          font-size:3vw;font-weight:bold;
                        }
                        
                        .hand{
                          width:6vw;transform: translatex(0px);
                          animation: floatx 1s ease-in-out infinite;
                        }
                    }

                    :hover
                    {
                        cursor:pointer;
                    }

                    .gradient
                    {
                        background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.65));
                        height:100%;

                        .join-us-main
                        {
                            position:absolute;
                            bottom:5%;
                            padding:5%;
                            z-index:2;

                            .join-us-title
                            {
                                font-size:6vw;
                                font-weight:bold;
                                text-align:left;
                                z-index:1;
                            }

                            .ball
                            {
                                position:absolute;
                                top:0%;
                                left:17.5%;
                                width:16vw;
                                z-index:-1;
                            }

                            .join-us-description
                            {
                                width:55%;
                                font-size:3vw;
                                text-align:left;
                                line-height:2;
                            }
                        }
                    }
                }

                .join-us-content
                {
                    padding:5%;
                    position:relative;
                    right:-100%;
                    display:inline-block;
                    background-color:white;
                    width:100%;
                    height:125vw;
                    color:black;

                    .button-close-2
                    {
                        position:absolute;
                        right:5vw;
                        width:5vw;
                        cursor:pointer;
                    }

                    .join-us-content-description
                    {
                        font-size:3vw;
                        text-align:left; 
                    }

                    .join-us-content-list
                    {
                        width:100%;
                        height:105vw;
                        overflow:hidden;
                        overflow-y:scroll;
                        text-align:left;

                        .joinUsListGroup
                        {
                            padding:0px;
                            border:0px;
                            font-size:3.5vw;
                            font-weight:bold;
                            cursor:pointer;
          
                            .collapse_image
                            {
                                display:inline;
                                height:4vw;
                            }
                        }

                        .mt-2
                        {
                            font-size:3vw;

                            .joinUsCollapseCard
                            {
                                border:0px;
                                text-align:left;
          
                                p
                                {
                                    font-size:3.5vw;
                                    font-weight:bold;
                                }
          
                                .sentence
                                {
                                    font-size:3vw;
                                    font-weight:300;
                                }
          
                                ul
                                {
                                    margin-left:20px;
                                    list-style-type:disc;
          
                                    .joinUsBold
                                    {
                                        font-weight:bold;
                                    }
                                }
                            }
          
                            .joinUsApplyNow
                            {
                                margin-bottom:1.25rem;
                                width:100%;
                                font-size:3vw;
                                font-weight:bold;
                            }
                        }
                    }
                }
            }
        }
        .third
        {
            display:none;

            //min-height:50vh;
            overflow:hidden;
            width:100%;
            position:relative;
            height:45vw;
            border:14px solid rgba(245,245,245,1);

            .third-second
            {
                display:flex;
                width:200%;
                margin-left:-50%;
                position:absolute;
                //transition:all 0.8s ease;
                z-index:2;
                
                .ourTeam
                {
                    margin-right:0.2%;
                    position:relative;
                    background-image:url("/static/assets/image/3.jpg");
                    background-repeat:no-repeat,repeat;
                    background-position:center;
                    background-size:cover;
                    box-shadow:0px 3px 6px rgba(0,0,0,0.4);
                    display:inline-block;
                    width:25%;
                    height:45vw;
      
                    .ourTeamDesc
                    {
                        position:absolute;
                        bottom:5%;
                        padding:5%;
                        vertical-align:bottom;
      
                        h1
                        {
                            font-weight:bold;
                            position:relative;
                            text-align:left;
                            font-size:3vw;
                            display:table;
                            z-index:1;
                            margin-bottom:2%;
      
                            .ball
                            {
                                position:absolute;
                                top:-60%;
                                right:-20%;
                                height:7vw;
                                z-index:-1;
                            }
                        }

                        p
                        {
                            text-align:left;
                            width:55%;
                            font-size:1.5vw;
                            line-height:2;
                        }
                    }
                }

                .ourTeam:hover
                {
                    cursor:pointer;
                }

                .ourTeamContent
                {
                    position:relative;
                    background-repeat:no-repeat,repeat;
                    background-position:center;
                    background-size:cover;
                    box-shadow:0px 3px 6px rgba(0,0,0,0.4);
                    display:inline-block;
                    width:25%;
                    height:45vw;
                    color:black;
                    background-color:white;
                    padding-top:1.5%;
                    padding-left:1%;
                    padding-right:1%;
      
                    .ourTeamContentHeader
                    {
                        height:10%;
      
                        .ourTeamContentH1
                        {
                            width:65%;
                            text-align:left;
                            vertical-align:bottom;
                            font-size:1vw;
                        }
                    }
      
                    .ourTeamContentMember
                    {
                        height:85%;
                        font-size:1vw;
                        font-size:1vw;
                        overflow-y:scroll;
                        width:110%;
                        padding-right:10%;
                    }
      
                    .buttonClose_1
                    {
                        position:absolute;
                        height:1.2vw;
                        top:1.5vw;
                        right:1.5vw;
                        cursor:pointer;
                    }
                }

                .joinUs
                {
                    margin-left:0.2%;
                    position:relative;
                    background-image:url("/static/assets/image/4.jpg");
                    background-repeat:no-repeat,repeat;
                    background-position:center;
                    background-size:cover;
                    box-shadow:0px 3px 6px rgba(0, 0, 0,0.4);
                    display:inline-block;
                    width:25%;
                    height:45vw;
      
                    .joinUsDesc
                    {
                        position:absolute;
                        bottom:5%;
                        padding:5%;
                        vertical-align:bottom;
      
                        h1
                        {
                            font-weight:bold;
                            position:relative;
                            text-align:left;
                            font-size:3vw;
                            display:table;
                            z-index:1;
                            margin-bottom:2%;
      
                            .ball
                            {
                                position:absolute;
                                top:-60%;
                                right:-20%;
                                height:7vw;
                                z-index:-1;
                            }
                        }

                        p
                        {
                            text-align:left;
                            width:55%;
                            font-size:1.5vw;
                            line-height:2;
                        }
                    }
                }

                .joinUs:hover
                {
                    cursor:pointer;
                }

                .joinUsContent
                {
                    position:relative;
                    background-repeat:no-repeat,repeat;
                    background-position:center;
                    background-size:cover;
                    box-shadow:0px 3px 6px rgba(0, 0, 0,0.4);
                    display:inline-block;
                    width:25%;
                    height:45vw;
                    color:black;
                    background-color:white;
                    padding-top:1.5%;
                    padding-left:1%;
                    padding-right:1%;
      
                    .joinUsContentHeader
                    {
                        height:10%;
      
                        .joinUsContentH1
                        {
                            width:55%;
                            text-align:left;
                            vertical-align:bottom;
                            font-size:1vw;
                        }
                    }
      
                    .joinUsContentMember
                    {
                        font-size:1vw;
                        height:85%;
                        overflow-y:scroll;
                        width:110%;
                        padding-right:10%;
      
                        .joinUsListGroup
                        {
                            border:0px;
                            font-weight:bold;
                            padding-left:0px;
                            cursor:pointer;
      
                            .collapse_image
                            {
                                display:inline;
                                height:1vw;
                            }
                        }
      
                        .mt-2
                        {
                            .joinUsCollapseCard
                            {
                                border:0px;
                                text-align:left;
      
                                p
                                {
                                    font-weight:bold;
                                }
      
                                .sentence
                                {
                                    font-weight:300;
                                }
      
                                ul
                                {
                                    list-style-type:disc;
                                    margin-left:20px;
      
                                    .joinUsBold
                                    {
                                        font-weight:bold;
                                    }
                                }
                            }
      
                            .joinUsApplyNow
                            {
                                width:80%;
                                font-weight:bold;
                                font-size:1.2vw;
                                margin-bottom:1.25rem;
                            }
                        }
                    }
      
                    .buttonClose_2
                    {
                        position:absolute;
                        height:1.2vw;
                        top:1.5vw;
                        right:1.5vw;
                        cursor:pointer;
                    }
                }
            }
        }

        .gradientOverlay
        {
            background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.65));
            height:97vh;
        }
      
        .gradientOverlay_second
        {
            background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.65));
            height:45vw;
        }
      
        @keyframes float
        {
            0%
            {
                box-shadow:0 5px 15px 0px rgba(0,0,0,0.6);
                transform:translatey(0px);
            }

            50%
            {
                box-shadow:0 25px 15px 0px rgba(0,0,0,0.2);
                transform:translatey(-15px);
            }

            100%
            {
                box-shadow:0 5px 15px 0px rgba(0,0,0,0.6);
                transform:translatey(0px);
            }
        }
        @keyframes floatx {
            0% {
              transform: translatex(0vw);
              // transform:scale(1);
              //  opacity:1;
            }
            50% {
              transform: translatex(-0.8vw);
              // transform:scale(1.2);
              //  opacity:0.5;
            }
            100% {
              transform: translatex(0vw);
              // transform:scale(1);
              //  opacity:1;
            }
          }
    
          @keyframes floatx2 {
            0% {
              transform: translatex(0vw);
              // transform:scale(1);
              //  opacity:1;
            }
            50% {
              transform: translatex(0.8vw);
              // transform:scale(1.2);
              //  opacity:0.5;
            }
            100% {
              transform: translatex(0vw);
              // transform:scale(1);
              //  opacity:1;
            }
          }
    }
}