  .is-active {
    color: #ff0317;
    font-weight: 500;
    border-bottom: transparent;
  }

  .Banner_Top {
    #scene {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible;
      img {
        position: absolute !important;
        top: 40vw !important;
        left: auto !important;
      }
    }

    div {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      .background_animate {
        background-image: url('../assets/mobile_banner_Top/mobile_top_bg.png');
        background-position: bottom;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
      }
      span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        white-space: nowrap;
        transform: translateX(-50%) translateY(-80%);
        color: white;
      }
    }
  }

  .content {
    margin: 0 auto;
    text-align: center;

    .el-menu--horizontal {
      display: none;
    }

    .menu_wap {
      width: 100%;
    }

    .info_container {
      .info_list {
        display: grid;
        grid-template-columns: 100%;

        .item {
          background-color: white;
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
          position: relative;
          cursor: pointer;

          img {
            width: 100%;
          }

          div {
            span:not(.info_name) {
              display: none;
            }

            .info_name {
              display: block;
              text-align: left;
            }
          }

          #more_id {
            position: absolute;
            border: 1px solid #ff0317;
            color: #ff0317;
          }
        }
      }

      .load-more {
        width: 100%;
        margin: 5.9vw 0;
        font-size: 4vw;
        text-align: center;
        color: #656565;

        i {
          display: block;
        }

        i::before {
          font-size: 5.5vw;
          font-weight: 900;
          color: #d0d0d0;
        }
      }

      .date_container {
        .popular {
          transform: scale(1.3);
          transform-origin: top;
          background-color: white;
          -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);

          span {
            width: 85%;
            display: block;
            padding: 5vw 0vw 3.5vw 0vw;
            margin: 0vw 1vw 0vw 2vw;
            font-size: 5vw;
            text-align: center;
            font-weight: bold;

            i::before {
              color: #d81e06;
              font-size: 6vw;
              position: relative;
              left: -2vw;
              display: inline-block;
              transform: scaleX(-1);
            }
          }

          ol {
            padding: 0;
            margin-bottom: 13vw;
            li {
              counter-increment: list;
              list-style-type: none;
              position: relative;
              span {
                font-size: 3.7vw;
                font-weight: 400;
                position: relative;
                padding: 3vw 1vw 3vw 8vw;
                border-radius: 5px;
                text-align: left;
                display: block;
                cursor: pointer;

                i {
                  position: absolute;
                  right: 0.5vw;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }

            li:first-child {
              margin-top: 5.5vw;
            }
            li:last-child {
              padding-bottom: 17.3vw;
            }

            li:before {
              color: red;
              content: counter(list) '.';
              position: absolute;
              left: 9vw;
              top: 3.5vw;
              font-weight: 400;
              text-align: right;
              font-size: 3.5vw;
            }
          }
        }

        .el-date-editor {
          width: 100%;
        }
      }

      .el-button {
        outline: none;
      }
    }
  }