$colorfff: #fff;
$colorfefefe:#fefefe;
$color181: #0f181f;
$color161: #1C1E22;
$color12123: #121b23;
$color1822: #18222b;
$color20239: #202d39;
$color3134:#31343C;
$color29231:#292c31;
$color1236: #1f2b36;
$color1238: #1f2c38;
$color235: #2B2E35;
$color1224:#1E2024;
$color3134:#31343C;
$color2426:#24262B;
$color2335:#2D3035;
$color1122: #1C1E22;
$color1224:#1E2024;
$color29232: #292C32;
$color24262:#24262B;
$color2123: #212f3b;
$color191: #191B1E;
$color238: #202d38;
$color2337: #2D3037;
$color2347: #31343C;
$color5793: #6b7180;
$color9940: #99A4B0;
$color6b7180: #6b7180;
$color52708: #527085;
$color4683: #4c6c83;
;
$color292: #cf292d;
$color306: #e30c6b;
$color292: #cf292d;
$color630: #ED6300;
$color506: #5eed06;
$color3309: #43B309;
$color41312: #41B312;
$color3bde: #3bebde;
$color0fedf: #0fedff;
$color1463: #14b6d3;
$color400: #fad400;
$color9112: #f9b112;
$colorys1: #17181B;
$colorys2: #24262b;
$colorys3: #555B63;
$colorys4: #27282D;
$colorys5: #43B309;
$colorys6: #ED6300;
$colorys7: #d5d9dc;
$colorys8: #7c8590;
$colorys9: #23252a;