DEPLOYMENT_MODE=staging

NODEJS_PORT=7144
NODEJS_ROOT_URL=http://localhost:7144

ADMIN_NODEJS_PORT=7154
ADMIN_NODEJS_ROOT_URL=http://localhost:7154

FRONTEND_ROOT_URL=http://localhost:3220

MAIN_SQL_DATABASE=emailscom
MAIN_SQL_USER=xxx
MAIN_SQL_PASSWORD=xxx

LEGACY_SQL_DATABASE=vmail
LEGACY_SQL_USER=xxx
LEGACY_SQL_PASSWORD=xxx

TWITTER_APP_KEY=xxx
TWITTER_APP_SECRET=xxx
TWITTER_SOCKS_PROXY=        # socks://localhost:1080

DISCORD_OAUTH_CLIENT_ID=xxx
DISCORD_OAUTH_CLIENT_SECRET=xxx

SMTP_SERVER_HOST=localhost
SMTP_SERVER_PORT=25

# Address of the wallet that gets operator access to airdrop contracts to release tokens to users
AIRDROP_OPERATOR_EVM_ADDRESS=0x1234

# COMPUTED
PRISMA_MAIN_DATABASE_URL=mysql://${MAIN_SQL_USER}:${MAIN_SQL_PASSWORD}@localhost:3306/${MAIN_SQL_DATABASE}
PRISMA_LEGACY_DATABASE_URL=mysql://${LEGACY_SQL_USER}:${LEGACY_SQL_PASSWORD}@localhost:3306/${LEGACY_SQL_DATABASE}