@import "../../../shared.scss";

.stats {
  .stat-title {
    margin-top: 15px;
    text-transform: uppercase;
    color: #666;
    font-size: 14px;
  }

  .stat-value {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}