@font-face
{
    font-family: 'SofiaPro';
    src:url('../fonts/sofiapro-regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Nasalization';
    src:url('../fonts/nasalization-regular.ttf') format('truetype');
}