@import '../base.scss';

@media only screen and (max-width: $mobileMaxWidth) {
  .level {

    .level-banner {
      position: relative;
      padding: 5vw;
      background-color: $secondaryBgColor;

      .el-carousel {
        .el-carousel__container {
          min-height: 125vh;

          .el-carousel__arrow {
            border-radius: 0px;
            background-color: transparent;

            i {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }

        .el-carousel__item {
          // width: 840px;

          img {
            width: 100%;
          }
        }
      }

      .el-carousel__indicators .el-carousel__indicators--horizontal {
        li {
          border-radius: 50% !important;

          .el-carousel__button {
            border-radius: 50% !important;
          }
        }
      }

      .is-active {
        .el-carousel__button {
          border-radius: 50% !important;
          background-color: $primaryGreen;
        }
      }

      .level-image-container {
        position: relative;
        height: 40vw;
        border-radius: $borderRadius20;
        text-align: center;

        .level-image-center {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 12vw;
            height: 12vw;
          }

          .level-image-content {
            padding-top: 3vw;
            font-weight: bold;
          }
        }
      }

      .level-content-container {
        .level-content {
          padding: 6vw 0;

          .level-content-item-container {
            padding-top: 3vw;

            .level-content-item {
              display: flex;
              justify-content: space-between;
              padding: 2vw 0;
            }
          }
        }
      }

      .line {
        margin: 2vw 0;
        height: 1px;
        background-color: $lightFontColor;
        opacity: 0.5;
      }
    }

    .level-banner-mobile {
      position: relative;
      padding: 5vw;
      background-color: $secondaryBgColor;

      .el-carousel {
        .el-carousel__container {
          height: 35vh;

          .el-carousel__arrow {
            border-radius: 0px;
            background-color: transparent;

            i {
              font-size: 4vw;
              font-weight: bold;
            }
          }

          .el-carousel__arrow.el-carousel__arrow--left,
          .el-carousel__arrow.el-carousel__arrow--right {
            top: 40%;
          }

        }

        .el-carousel__indicators--horizontal {
          width: 100%;
          text-align: center;
        }

        .el-carousel__item {
          // width: 840px;

          img {
            width: 100%;
          }
        }
      }

      .el-carousel__indicators .el-carousel__indicators--horizontal {
        li {
          border-radius: 50% !important;

          .el-carousel__button {
            border-radius: 50% !important;
          }
        }
      }

      .is-active {
        .el-carousel__button {
          border-radius: 50% !important;
          background-color: $primaryGreen;
        }
      }

      .level-image-list-container {
        padding: 5vw 0;

        .level-image-container {
          position: relative;
          width: 100%;
          height: 160px;
          border-radius: $borderRadius20;
          text-align: center;

          .level-image-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
              width: 53px;
              height: 53px;
            }

            .level-image-content {
              padding-top: 20px;
              font-weight: bold;
            }
          }
        }

      }

      .level-content-container {
        .level-content {
          padding: 6vw 0;

          .level-content-item-container {
            padding-top: 3vw;

            .level-content-item {
              display: flex;
              justify-content: space-between;
              padding: 2vw 0;
            }
          }
        }
      }

      .line {
        margin: 2vw 0;
        height: 1px;
        background-color: $lightFontColor;
        opacity: 0.5;
      }
    }
  }
}
